<router-outlet></router-outlet>
<div fxLayout="column" fxLayoutAlign="space-around center">
  <div class="d-flex flex-column align-items-center d-grid gap-3" style="align-content: center;">
    <div class="d-flex flex-column d-flex align-items-center p-2 bg-light border">
      <mat-card class="example-card d-flex align-items-center p-2 bg-light border">
        <mat-card-title-group>
          <mat-card-subtitle>Resultado</mat-card-subtitle>
        </mat-card-title-group>
        <mat-card-content>
          {{result}}
        </mat-card-content>
      </mat-card>

      <div class="d-flex flex-column d-flex align-items-center p-2 bg-light border">
        <div class="d-flex align-items-center">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Entrada 1</mat-label>
            <input [(ngModel)]="num1" type="number" matInput placeholder="152">
          </mat-form-field>
      
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Entrada 2</mat-label>
            <input [(ngModel)]="num2" type="number" matInput placeholder="251">
          </mat-form-field>
        </div>

        <div class="align-items-center d-grid gap-3">
          <div class="align-items-center d-flex justify-content-around">
            <button mat-raised-button color="primary" (click)="somar()">+</button>
            <button mat-raised-button color="primary" (click)="sub()">-</button>
            <button mat-raised-button color="primary" (click)="multi()">x</button>
          </div>
          <div class="align-items-center d-flex justify-content-around">
            <button mat-raised-button color="primary" (click)="divis()">/</button>
            <button mat-raised-button color="primary" (click)="raiz()">Sqrt</button>
            <button mat-raised-button color="primary" (click)="zerar()">CE</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>